.container-form {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    width: 73%;
    gap: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

@media (max-width: 428px) {
    .container-form {
        flex-direction: column;
        width: 73%;
        gap: 10px;
    }
}