
.input {
    margin-left: 10px;
    height: 40px;
    width: 460px;
    margin-bottom: 10px;
    cursor: pointer;
}

.input.-btn {
    color: #fff;
    background-color: #000;
    margin-left: 0;
    font-family: Roboto;
    border: none;
    transition: all 250ms;
}

.input.-btn:hover {
    background-image:linear-gradient(red, #f06d06);
    border: none;
}

@media (max-width: 428px) {
    .input {
        width: 100%;
    }
}